.attendance-card-time-stamp-list a.selected-event {
  background: #e7f1fd !important;
}
.page-buttons {
   position: fixed;
   right: 18px;
   width: 2.5em;

   background-color: #3b7ff3;
   opacity: 0.75;
   border-radius: 24px;
   text-align: center;
   font-size: 120%;
   font-weight: bold;
   margin: 0px;
   padding: 10px;
}
.page-buttons {
   color: white;
}
.page-buttons:hover {
   color: yellow;
}
#page-reload-button {
     bottom: 17%;
}
#page-page-up-button {
     bottom: 10%;
}
#page-page-down-button {
     bottom: 3%;
}
